<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/templete.css">
    <title>Document</title>
</head>
<body>
    <div id='container'>
        <div id='title'>WithView</div>
        <div>
            <p>(주)함께드론맵핑 사의 WithView에서 인증번호를 보내왔습니다.</p>
            <p>아래의 인증번호를 입력해 주세요</p>
            <h2><%= authNum %></h2>
        </div>
    </div>
    
</body>
</html>